<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80'); background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 605px;
    display: flex;
    flex-direction: column;
    height: 845px;
    align-items: center;
    ">
        <img src="https://www.thoughtwin.com/assets/img/Logo.svg"
            style="height: 38px; width: 185px; margin-top: 63px;" />
        <h1 style="font-size: 45px;
        color: #FFFFFF;
        ">Happy Birthday</h1>
        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
            style="
            height: 247px;
            border-radius: 100%;
            border: 5px solid #7b7b85;">
        <h1 style="height: 24px;
            font-family: 'Swis721 BT';
            margin-bottom: 0px;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 24px;
            text-align: center;
            text-transform: capitalize;
            background: linear-gradient(180deg, #D19633 0%, #FFD25C 147.78%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            flex: none;
            order: 0;
            flex-grow: 0;
            ">Shubham Kumar</h1>
        <span style="
            font-family: Swis721 BT;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 12px;
            ">Software Developer</span>

        <hr style="
            height: 0px;
            width: 37px;
            margin-top: 21px;
            border: 0.5px solid #FFFFFF

           ">
        <h1 style="
               font-family: Swis721 BT;
               font-size: 20px;
               font-weight: 700;
               line-height: 20px;
               letter-spacing: 0em;
               text-align: center;
               text-transform: capitalize;
               color: #FFFFFF;
               ">
            24th Jan
        </h1>
        <span style="
               width: 367px;
               height: 48px;
               font-family: Swis721 BT;
               font-size: 18px;
               font-weight: 400;
               line-height: 24px;
               letter-spacing: 0em;
               text-align: center;
               color: #FFFFFF;
               ">
            Wishing you a beautiful day with good health
            and Happiness forever.
        </span>
        <hr style="
        width: 230px;
        opacity: 0.2;
        border: 1px solid #FFFFFF;
        margin-top: 26px;
        ">
        <h1 style="
        font-family: Sora;
        font-size: 21px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.08em;
        text-align: center;
        color: #FFFFFF;
        ">thoughtwin.com</h1>

        <div style="margin-top: 5px;">
            <img style="
            height: 33px;   
            width: 33px;
            cursor: pointer;
            " src="../../../assets/images/Instagram.png" alt="not found">
            <img style="
            height: 33px;   
            width: 33px;
            cursor: pointer;
            " src="../../../assets/images/Twitter.png" alt="not found">
            <img style="
            height: 33px;   
            width: 33px;
            cursor: pointer;
            " src="../../../assets/images/Linkedin.png" alt="not found">
            <img style="
            height: 33px;   
            width: 33px;
            cursor: pointer;
            " src="../../../assets/images/Facebook.png" alt="not found">
        </div>

    </div>
</body>

</html>