<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="background-image: url('https://media.gettyimages.com/id/942583674/photo/businessman-hand-holding-smart-phone-virtual-digital-technology-concept-social-media.jpg?s=2048x2048&w=gi&k=20&c=ovdXoucYIatHKFnpscaJBKoA9n60Qhjrmt5YgrsPQEk='); background-repeat: no-repeat;background-position: center;background-size: cover; width: 605px; height: 845px;">
        
    </div>
</body>

</html>